.project
_build
etc/*.rendered
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
.concrete/DEV_MODE
.rebar
.erlang.mk/
data
ct.cover.spec
cover/
ct.coverdata
eunit.coverdata
logs/
erlang.mk
rebar.lock
rebar3.crashdump
.rebar3/
*.bak
